body {
  background: white;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
/* 
.container *{
  display: inline-block;
} */

.notice * {
  display: inline-block;
  /* border: 1px solid red; */
}

.notice {
  text-align: center;
  background: rgb(27, 45, 107);
  color: white;
  height: 50px;
}

.notice a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-family: monospace;
}

.temp-content {
  height: 400vh;
  background-color: hotpink;
}

.navigation-nav {
  width: 100%;
  height: 100px;

  position: relative;
}

.nav-container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.temp-btn {
  background-color: #2d6;
  cursor: pointer;
}

.temp-btn:hover + .down-slidder {
  opacity: 1;
}

.down-slidder:hover {
  opacity: 1;
}

.down-slidder {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(123, 123, 123, 0.5);
  height: 300vh;
  width: 100%;
  transition: 0.66s;
}

.logo-wrapper {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  vertical-align: middle;
}

.navigation-ul-wrapper li {
  display: inline-block;
}

.navigation-ul-wrapper li a {
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  height: 30px;
  padding: 0 11px;
  line-height: 30px;
  letter-spacing: 0px;
}

.navigation-ul-wrapper li a:hover {
  background: black;
  color: white;
  border-radius: 15px;
}

.navigation-ul-wrapper .middle_nav {
  margin-left: 50px;
}

.navigation-ul-wrapper .right_nav img {
  height: 25px;
}

.navigation-ul-wrapper .right_nav li a:hover {
  background: none;
  color: none;
  border-radius: none;
}

.navigation-ul-wrapper .left_nav {
  margin-left: 50px;
  position: relative;
  /* display: inline-block; */
}

.navigation-ul-wrapper .right_nav {
  margin-left: 50px;
}

.navigation-ul-wrapper ul {
  margin-top: 30px;
  position: relative;
}

.navigation-ul-wrapper .left_nav li {
  display: inline-block;
}

.navigation-ul-wrapper .left_nav a {
  display: block;
}

.navigation-ul-wrapper .left_nav li ul {
  position: absolute;
}

.navigation-ul-wrapper .left_nav .try {
  display: none;
  position: absolute;
  top: 100%;
}

.navigation-ul-wrapper a:hover > .try {
  display: block;
  position: relative;
  top: 34px;
  left: -1px;
  z-index: 1000;
  width: 200%;
  height: 600px;
  border: 1px solid red;
}
